* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
    margin: 0px;
}

button {
    cursor: pointer;
    background-color: #B881EF;
}

button:hover {
    background-color: rgb(168, 121, 216);
}

html, body {
    height: 100vh;
}
body {
    display: flex;
    justify-content: center;
    margin: 0;
    /* height: 100vh; */
    background: linear-gradient(to top right, #FF00C7, #9F6DD2);
    padding: 100px 100px 0px 100px;
    overflow-x: hidden;
    overflow-y: scroll;
}

main {
    max-width: 1240px;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 100px;
    background-color: white;
    height: 100%;
    border-radius: 10px;
    overflow-x: hidden;

}

#vetor-fundo {
    top: 0;
    position: absolute;
    z-index: 1;
    width: 100%;
}

.secao-main {
    z-index: 2;
}
#container-informacoes {
    display:flex;
    flex-direction: column;
    gap:40px;
    color: white;
}

#informacoes {
    display: flex;
    padding:150px 100px 0px 100px;
    gap: 80px;

    justify-content: center;
    align-items: center;
}

#foto-perfil {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 100%;
}

#nome {
    font-size: 32px;
}

#container-conta {
    display:flex;
    gap: 40px;
}

.valor {
    display: flex;
    gap:10px;
    align-items: center;
}
.botao {
    padding:10px;
    border: 0;
    color: white;
    border-radius: 5px;
}

#container-saldos {
    display:flex;
    gap: 20px;
    color: black;
}

.container-saldo {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: #f4f4f4;
    padding: 20px;
    gap:10px;
}


#scroll-acoes-rapidas {
    display: flex;
    gap:40px;
    overflow-x: scroll;
    padding: 0px 100px 40px 100px;

}

#titulo-acoes-rapidas {
    padding: 0px 100px;
}

.botao-acao-rapida {
    border: 0;
    min-width: 200px;
    height: 200px;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

@media (max-width: 1200px) {
    body {
        padding:20px 20px 0px 20px;
    }
}

@media (max-width: 900px) {
    #informacoes {
        gap: 40px;
    }
}

@media (max-width: 800px) {
    body {
        padding: 10px;
    }

    main {
        gap:40px;
    }

    #informacoes {
        flex-direction: column;
        padding:50px 55px 0px 55px;
    }

    #container-informacoes {
        color:black;
        width: 100%;
    }

    #titulo-acoes-rapidas {
        padding: 0px 55px;
    }

    #scroll-acoes-rapidas {
        padding: 0px 65px 55px 55px;
    }
    #acoes-rapidas {
        padding-bottom:50px;
    }
}

@media (max-width: 500px) {
    .container-saldo {
        padding:10px;
        gap:5px;
    }
    .botao-mostrar-saldo {
        display: none;
    }

}

@media (max-width:420px) {
    #informacoes {
        padding:50px 30px 0px 30px;
    }

    #acoes-rapidas {
        padding-bottom:30px;
    }

    #titulo-acoes-rapidas {
        padding: 0px 30px;
    }

    #scroll-acoes-rapidas {
        padding: 0px 65px 30px 30px;
    }
}