body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(-110deg, #9F6DD2,#FF00C7);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.corpo{
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 30px 60px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    flex-direction: row;
    margin-bottom: 30px;
}
.esquerda{
    flex: 1;
}
.direita{
    display: flex;
    justify-content: right;
    flex: 1;
}
.sidenav {
    height: 400px; 
    width: 0; 
    position: absolute; 
    z-index: 1; 
    background: linear-gradient(-110deg, #9F6DD2, #FF00C7);
    overflow-x: hidden;
    padding-top: 60px; 
    transition: 0.5s; 
  }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  .sidenav a:hover {
    color: #f1f1f1;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }

.logo{
    width: 56px;
    height: 56px;
    background: linear-gradient(-110deg, #9F6DD2, #FF00C7);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 5px;
    transition: all 250ms;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
}
.logo:hover{
  transition: all 250ms;
  transform: scale(1.07);
  
}
.traco{
    width: 40px;
    height: 5px;
    background-color: white;
    margin-top: 10px;
    border-radius: 3px;
    left: 10px;
}
p{
    margin-left: 10px;
}
.logoTeste{
    text-align: center;
    width: 70px;
    height: 30px;
    background-color: #9F6DD2;
    border-radius: 50%;
    color: white;
}
.button-6 {
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background: linear-gradient(-110deg, #9F6DD2, #FF00C7);
  border: 0;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  margin-top: 30px;
}
.button-6:hover,
.button-6:focus {
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background: linear-gradient(-110deg, #9F6DD2, #FF00C7);
}
.button-6:hover {
  transition: all 250ms;
  transform: scale(1.05);
  background: linear-gradient(-110deg, #9F6DD2, #FF00C7);
  border-radius: 3px; 
  
}
.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
@media (max-width:991px) {
    body{
        height: 100%;
    }
    .corpo{
        height: 100%;
        margin: 30px 0;
        padding: 30px;
    }
    #titulo{
      font-size: 25px;
  }
    .logo:hover{
      transition: none;
      transform: none;
    }
}
@media (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }